/*!**********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[12].use[3]!./src/components/about.css ***!
  \**********************************************************************************************************************************************************************************************************************************************************************/

.aboutPage {
    width: 70%;
    height: 90%;
    vertical-align: middle;
    align-self: center;
    padding: 1vw 2vw 2vw;
    margin: auto;
    background-color: rgb(15, 14, 14, 0.6);
    color: #eafffe;
}


.aboutText{
    width: 60%;
    padding-left: 5%;
    text-align: left;
}

#headshot{
    width: 15vw;
    border-radius: 10vw;
    margin-right: 4vw;
    float: right;
}
/*!***********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[12].use[3]!./src/components/header.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************/
.header{
    display: flex;
    width: 100%;
    justify-content: center;
    margin: auto;
    height: 100%;
}

.header h1 {
    float: left;
    vertical-align: middle;
    margin: auto 1vw auto 12.5vw;
    font-family: 'Roboto', sans-serif;
    color: #001B2E;
}

.header ul {
    float: right;
    text-align: center;
    list-style-type: none;
    margin: auto;
    margin-left: 5vw;
    width: 40%;
    overflow: hidden;
  }

li {
    float: right;
}

li a{
    display: block;
    color: #001B2E;
    text-align: center;
    padding: 2vw 2vw;
    text-decoration: none;
}

li a:hover {
    text-decoration: none;
    color: #001B2E;
    background-color: #ceeeec;
}

/*!*******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[12].use[3]!./src/components/projectExample.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************/
.project{
    padding-top: 10px;
    max-width: 70%;
    height: 35vw;
    align-self: center;
    margin: auto;
}

.project a{
    color: black;
}

.imgRight{
    width: 20vw;
    margin-left: 4vw;
    float: right;
}

.imgLeft{
    width: 20vw;
    margin-right: 4vw;
    float: left;
}
/*!**********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[12].use[3]!./src/components/books.css ***!
  \**********************************************************************************************************************************************************************************************************************************************************************/
.goodBooks{
    padding-top: 10px;
    max-width: 80%;
    border-radius: 5px;
    /* height: 35vw; */
    align-self: center;
    margin: auto;
    background-color:#ceeeeca8;
}

.goodBooks h1{
    padding-bottom: 1vw;
}

.goodBooks img{
    width: 70%;
}

.bookChoice{
    display: inline-block;
    max-width: 28%;
    margin: 1vw;
    vertical-align: top;
}
.bookChoice img{
    /* max-width: 25%; */
}

.bookDescription{
    /* height: 300px; */
}

/*!***********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[12].use[3]!./src/components/footer.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************/
.header{
    display: flex;
    width: 100%;
    justify-content: center;
    margin: auto;
    height: 100%;
}

.footer{
    padding: 1vw;
}

.footer ul {
    text-align: center;
    list-style-type: none;
    margin: auto;
    margin-left: 5vw;
    width: 40%;
    overflow: hidden;
  }

li {
    float: right;
}

.footer a{
    display: inline;
    color: #001B2E;
    text-align: center;
    margin: 2vw 2vw;
    text-decoration: none;
}

.footer h4{
    margin-top: 0;
    margin-bottom: 1vw;
}

.footer a:hover {
    text-decoration: none;
    color: #001B2E;
    background-color: #ceeeec;
}

